<%= @form_title.value %>
<%= form_for :request, url: requests_path do |f| %>
  <h3>申請内容の入力</h3>
  <div class="request_form_element">
  <table class="tbl-r02">
  <% @forms.sort{|x| x.display_order}.reverse.each do |form| %>
    <tr>
    <th>
    <%= f.label form.name, form.name unless form.column_type == 'hidden' %>
    </th>
    <td>
    <%= to_html(form, f) unless form.name.nil?%>
    <td>
  <% end %>
  <%= f.hidden_field :form_id, value: @forms[0].form_id %>
  <%= f.hidden_field :workflow_id, value: @workflow.id %>
  </table>
  </div>

  <h3>申請経路</h3>
  <div class="request_workflow_element">
  <table>
  <tr>
  <td>
  <table>
  <% @steps.each do |step| %>
    <tr>
      <th><%= step.name %><br><%= "(#{step.approve_type})" %></th> 
      <td>
      <% authors = author_list(@templates.where(flow_step: step.flow_step)) %>
      <% select_name = "authors"+step.flow_step.to_s %>
      <%= select_tag select_name, options_for_select(authors),
        :multiple => true, :class => "request_workflow_authors" %>
      <%= f.hidden_field step.flow_step, value: authors.values.join(",") %>
      </td>
      <td style="display: flex; flex-direction: column; justify-content: space-around; align-content: space-around; align-items: stretch">
          <%= link_to "<< 追加", 'javascript:void(0)', onclick: "addToAuthor('#{select_name}','request_#{step.flow_step}')"%><br>
          <%= link_to "削除 >>", 'javascript:void(0)', onclick: "removeFromAuthor('#{select_name}','request_#{step.flow_step}')"%>
      </td>
    </tr>
  <% end %>
  </table>
  </td>
  <td rowspan="<%= @steps.length+1 %>" ><%= select_tag "candidates", options_for_select(User.all.map{|x| [username(x), x.id] }.to_h), multiple: true, size:'15' %></td>
  </tr>
  <table>
  </div>

  <%= f.submit 'create'%>
<% end %>
