<%= @form_title.value %>
<%= form_for :request, url: requests_path do |f| %>
  <h2>申請内容の入力</h2>
  <% @forms.sort{|x| x.display_order}.reverse.each do |form| %>
    <div class="request_form_element">
    <%= f.label form.name, form.name unless form.column_type == 'hidden' %>
    <%= to_html(form, f) unless form.name.nil?%>
    </div>
  <% end %>
  <%= f.hidden_field :form_id, value: @forms[0].form_id %>

  <h2>申請経路</h2>
  <div class="request_form_element">
  1: 
  <%= f.label :auther1, '申請先1' %>
  <%= f.select :author1, @users.map{|x| ["#{x.name}(#{x.id})", x.id]} %>
  <%= f.label :required, '必須' %>
  <%= f.check_box :required, checked: true %> 
  </div>

  <%= f.submit 'create'%>
<% end %>
