
<h3>申請内容</h3>
<div class="request_form_element">
<table class="tbl-r02">
<% @forms.each do |form| %>
  <tr>
  <th><%= form.name %></th>
  <!--- <td><%= sanitize(form.value.gsub("\n","<br>")) unless form.value.nil? %></td> -->
  <td><%= review_text form %></td>
  </tr>
<% end %>
</table>
</div>

<h3>申請経路</h3>
 
<div class="request_workflow_element">
<table class="tbl-r02">
<% @steps.each do |step| %>
  <tr>
    <th>No. <%= step.flow_step %><br><%= step.name %><br><%= "(#{approve_type step})" %></th> 
    <td>
    <% @workflows.where(flow_step: step.flow_step).each do |workflow| %>
      <table class="tbl-r03">
      <tr>
      <td style="width: 3rem"><%= approval_character workflow %></td>
      <td><%= username workflow.user %></td>
      <td class="tbl-r03-comment"><%= workflow.comment unless workflow.comment.blank? %></td>
      </tr>
      </table>
    <% end %>
    </td>
  </tr>
<% end %>
</table>
</div>

<% if @request.in_progress == true %>
<%= form_for :request, url: submit_request_path do |f| %>
<h3>コメント</h3>
<div class="request_comment_element">
<table class="tbl-r02">
<tr>
  <th>名前</th>
  <td><%= username @user %></td>
</tr>
<tr>
  <th>コメント</th>
  <td><%= f.text_area 'comment' , value: "" , placeholder: 'コメントを入力してください' %></td>
</tr>
</table>
</div>

<%= f.submit '承認する', name: 'commit', class: 'button-submit' %>
<%= f.submit '却下する', name: 'commit', class: 'button-reject' %>
<% end %>
<% end %>
