<!DOCTYPE html>
<html>
  <head>
    <title>App</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <div class="header">
      <div class="app_title">Application center</div>
      <div class="logedin"><%= @current_user.name unless @current_user.blank? %></div>
      <div class="logout"><%= link_to '[logout]', login_path, method: :delete if signed_in? %></div>
      </div>
    </header>
    <%= yield %>
  </body>
</html>
